<!-- Base HTML will be inherited by all the pages in the application
     Consists of head with logo and app name -->
<!-- loads static fies -->
{% load static %} 
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>{% block title %}Homepage{% endblock %}</title>
</head>

<body>
  <nav class="navbar  sticky-top navbar-expand-lg navbar-light bg-light">
    <!-- Navbar content -->
    <div class="container-fluid">
      <a class="navbar-brand" href="/quote/">
        <!-- Brand Logo -->
        <img src="{% static 'quoteapp/logo.png' %}" alt="" width="200" height="60"
          class="d-inline-block align-text-top">
      </a>
      <!-- Applicaiton Name -->
      <h2 class="align-text">Quotation Application for Motor Insurance</h2>

    </div>
  </nav>
  <!-- ALl the page content goes here -->
  {% block content %}
  {% endblock content %}

</body>

</html>